<!DOCTYPE html>
<html>
  <head>
    <title>Input and Result</title>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Enter Input Value:</h1>
    <form method="post" action="/">
      <input type="text" name="user_input">
      <br><br>
      <input type="submit" value="Submit">
    </form>

    
      <h2>Result:</h2>
      <table>
        <thead>
          <tr>
            {% for col in result.columns %}
              <th>{{ col }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for row in result.values %}
            <tr>
              {% for val in row %}
                <td>{{ val }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    
    
  </body>
</html>
